{% extends 'mainapp/layout.html' %}

{% block title%}{{title}}{% endblock %}

{% block content %}
    <div class="features">
        <h1>Home page</h1>
        <p>Welcome to our petition website, where you can join thousands of others in making your voice heard and creating positive change in the world. Our platform empowers individuals to create and sign petitions on a wide range of issues, from social justice and human rights to environmental sustainability and animal welfare.
            We believe that everyone has the power to make a difference, and by coming together, we can amplify our collective voices and make an impact on the world around us. Whether you are passionate about a specific cause or just want to stay informed and engaged, our website is the perfect place to get involved.
            Creating a petition is easy - simply choose your topic, write a clear and compelling message, and share it with your friends and community. You'll be able to track the progress of your petition and see how many people have signed on to support your cause.
            And if you're looking to support a petition that resonates with you, our platform makes it easy to find and sign petitions that align with your values and beliefs. By signing a petition, you are adding your voice to a growing movement of individuals who are working together to make a positive impact on the world.
            So join us today and start making a difference. Whether you're an activist, a concerned citizen, or just someone who cares about the world we live in, our petition website is the perfect place to get involved and make your voice heard.</p>
        {% for el in values %}
            {% filter upper %}
                <p>{{ el }}</p>
            {% endfilter %}
        {% endfor %}

    </div>
{% endblock %}

