
body{
    background: -webkit-linear-gradient(180deg, rgb(82, 0, 122), rgb(30, 12, 56), rgb(43, 27, 59));
    background: -moz-linear-gradient(180deg, rgb(82, 0, 122), rgb(30, 12, 56), rgb(43, 27, 59));
    background: linear-gradient(180deg, rgb(82, 0, 122), rgb(30, 12, 56), rgb(43, 27, 59));
}


@keyframes gradient {
	0% {
		background-position: 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 50%;
	}
}

nav {
    border-radius: 20px;
    position: sticky;
    top:0;
    width: 1200px;
    text-align: center;
    float: top;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    height: 10vh;
    border:3px solid rgba(255, 255, 255, 0.75);
    background: rgba(3, 0, 0, 0.4);
}
nav ul{
    margin-top: -15px;
}



nav ul li, nav ul a{
    font-weight: bold;
    font-size: 25px;
    margin-left: 40px;
    color: white;
    display: inline-flex;
    transition: transform .6s ease ;
    text-decoration: none;

}
nav ul li:hover, nav ul a:hover{
    color: #0db9b9;
    font-weight: bold;
    text-decoration: none;
    transform: scale(1.10);
}






main .features {
    border-radius: 20px;
    background: rgba(3, 0, 0, 0.4);
    border-left: 3px solid rgba(255, 255, 255, 0.75);
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1200px;
    min-height: 100vh;
    max-height: 100%;

}
.features h1 {
    font-size: 55px;
    padding: 15px;
    font-weight: bolder;
}
.features p {
    font-size: 20px;
    max-width: 500px;
    margin: auto;
}


.features .btn-light:hover,.btn-light:hover{
    color: #ffffff;
    background: #0db9b9;
    transition: transform .6s ease ;
    text-decoration: none;
    transform: scale(1.10);
    border-radius: 15px;
}
.features .btn-light, .btn-light{
    font-weight: 600;
    border-radius: 15px;
    border: black   ;


}

.detailed {
    border-radius: 15px;
    background: linear-gradient(-45deg, rgba(24, 7, 42, 0.6), rgba(64, 6, 117, 0.6), rgba(15, 4, 21, 0.6), rgba(35, 1, 37, 0.6));
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
    border: 3px solid rgba(255, 255, 255, 0.75);
    padding: 10px;
    width: 500px;
    height: 450px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
}



form {
    width: 800px;
    position: center;
    clear: both;
    margin: 30px auto;
    text-align: center;
}

form textarea{
    height: 300px;
}

.btn-success{
    border-radius: .375rem ;
    height: 40px;
    width: 110px;
    float: right;
    font-weight: 700;
    background: #1a4c35;
    border: 1px solid white;
}
.btn-success:hover{
    font-weight: 700;
    border: 1px solid white;
    background: #1a4c35;
    transition: transform .6s ease;
    transform: scale(1.06);
}

.detailed a{
    text-decoration: none;
    color: white;
}

.detailed p{font-size: 17px;}
.detailed h2:hover{
    transition: transform .6s ease ;
    text-decoration: none;
    transform: scale(1.15);
    color: #0db9b9;

}