
body{

	background: linear-gradient(-45deg, #0e5d5b, #820b93, #691010, #450a59);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 50%;
	}
}

nav {
    width: 1200px;
    text-align: center;
    float: top;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    height: 10vh;
    border-right: 3px solid rgba(255, 255, 255, 0.55);
    border-left: 3px solid rgba(255, 255, 255, 0.55);
    background: rgba(40, 40, 40,0.5);
}
nav ul{
    margin-top: -15px;
}



nav ul li, nav ul a{
    font-size: 25px;
    margin-left: 40px;
    color: white;
    display: inline-flex;
    transition: transform .6s ease ;
    text-decoration: none;

}
nav ul li:hover, nav ul a:hover{
    color: hotpink;
    text-decoration: none;
    transform: scale(1.05);
}






main .features {
    background: rgba(40, 40, 40,0.5);
    border-left: 3px solid rgba(255, 255, 255, 0.55);
    border-right: 3px solid rgba(255, 255, 255, 0.55);
    border-top: 3px solid rgba(255, 255, 255, 0.55);
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1200px;
    height: 100vh;

}

main .features h1 {
    font-size: 45px;
    margin-top: 25px;
}
main .features p {
    max-width: 500px;
    margin: 20px auto;
}


.features .btn-light:hover,.btn-light:hover{
    color: hotpink;
    transition: transform .6s ease ;
    text-decoration: none;
    transform: scale(1.05);
}
.features .btn-light, .btn-light{
    font-weight: 600;

}

.detailed {
    background: #4d004d;
    border: 5px solid rgba(255, 255, 255, 0.45);
    padding: 10px;
    width: 500px;
    height: 400px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    overflow: hidden;

}



form {
    width: 800px;
    position: center;
    clear: both;
    margin: 30px auto;
    text-align: center;
}

form textarea{
    height: 300px;
}

.btn-success{
    border-radius: .375rem ;
    height: 40px;
    width: 110px;
    float: right;
    font-weight: 600;
    background: #1a4c35;
    border: 1px solid white;
}
.btn-success:hover{
    font-weight: 600;
    border: 1px solid white;
    background: #1a4c35;
    transition: transform .6s ease;
    transform: scale(1.06);
}

.detailed a{
    text-decoration: none;
    color: white;

}